.deco {
  text-decoration: none;
}
.eachjob {
  background-color: #475569;
  border-radius: 5px;
  padding: 10px;
  margin-left: 0px;
  margin-bottom: 10px;
  color: white;
  list-style-type: none;
}
.smallimg {
  height: 50px;
  width: 50px;
}
.row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.space {
  margin: 10px;
}
li {
  margin-left: 0px;
}
.yellow {
  color: #fbbf24;
}
