.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2c364c;
  padding: 5px;
  color: white;
  align-items: center;

  margin: 0px;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0px;
}
.headlogo {
  height: 50px;
  width: 50px;
}
li {
  margin-left: 0px;
  margin: 10px;
  color: white;
}
.nolink {
  text-decoration: none;
}
.logout {
  color: white;
  background-color: #4f46e5;
  border-width: 0px;
  border-radius: 5px;
  padding: 10px;
}
